<div class="nav-main">
  <div class="nav-top">

  </div>
  <div class="nav-left">
    <div class="nav-logo">
      <img src="" class="img-logo" alt="">
    </div>
    <div class="nav-global-location-popover-link">

    </div>

  </div>
  <div class="nav-search">
    <select name="" id="" class="select-category"></select>
    <input type="text" class="nav-input-search">
    <button class="nav-btn-search"></button>
  </div>
  <div class="nav-right">
    <div class="nav-toolbar">
     <div class="nav-lenguaje">

     </div>
    </div>
    <div class="nav-popover-session">

    </div>
    <div class="nav-orders">

    </div>
    <div class="nav-shopping-car">

    </div>
  </div>
</div>
